*{
    margin:0;
    padding:0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{   
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bg/hydrobg.jpg);
    background-size: 100vw;
}


nav{
    height:15vh;
    width: 98%;
    margin:auto;
    margin-top: 12px;
    border-radius: 22px;
    background-color: rgb(27, 27, 27);
    position: sticky;
    top:2;
    z-index: 10;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav .left .logo{
    height:80%;
    aspect-ratio: 1/1;
    background-image: url("logos/mainlogo.png");
    background-size: 80px;
    margin: 20px;
   

}
nav .left{
    display:flex;
    align-items: center;
    height: 100%;
    width: auto;
}
nav .left h1{
    color: rgba(0, 128, 0, 0);
    -webkit-text-stroke: 1px white;
    font-size: 30px;
    font-family:cursive;
}
nav .right{
    height:80%;
    aspect-ratio: 10/2;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
nav .right button{
    height: 60%;
    aspect-ratio: 2/1;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: white;
}
nav .right .reaction{
    height:65px;
    aspect-ratio:1/1;
    background-image: url("logos/reaction.jpg");
    background-size: 60px;
    object-position: center;
    border-radius: 50%;
    border:2px solid gray;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;


}
.element{
    height:10vh;
    width: 36%;
    background-color: rgb(26, 26, 26);
    margin:auto;
    margin-top: 10px;
    border-radius: 200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:10vh;
    border: 2px solid gray;
    z-index: 20;
}
.element .elem{
    height:80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: all 0.5s;

}
.element .elem:hover{
    transform:scale(1.1);
    background-color: rgba(81, 81, 81, 0.545);
    cursor: pointer;
    
    
}
.elem{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 

}
.anemo{
    background-image: url("elements/anemo.png");
    
}
.dendro{
    background-image: url("elements/dendro.png");
    
}
.cryo{
    background-image:url("elements/cryo.png");
   
}
.hydro{
    background-image: url(elements/hydro.png);
}
.electro{
    background-image: url(elements/electro.png);
}
.pyro{
    background-image: url(elements/pyro.png);
}
.geo{
    background-image: url(elements/geo.png);
}
.cardshowcase{
    height:auto;
    width: 90vw;
    position: absolute;
    background-color: rgba(32, 32, 32, 0);
    top:25vh;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap:2px;
    border-radius: 12px;
    left:50%;
    transform: translateX(-50%);
    padding-bottom: 10vh;
}
.card{
    transition: 0.4s;
    height:280px;
    aspect-ratio: 10/14;
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    overflow: hidden;
    margin:0px 10px 0px 10px;
    transform: scale(0.75);
    border-radius: 12px;
    position: relative;
    animation:popup ease-in-out 0.5s forwards;
    animation-timeline: view();
    animation-range:entry;
    opacity: 0.6;
}
.card:hover{
    cursor: pointer;
}
@keyframes popup{
    0%{
        transform: scale(0.75);
        opacity: 0.6;
    }
    20%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.bottom{
    height:8%;
    aspect-ratio: 9/2;
    background-color: rgb(29, 29, 29);
    border: 2px solid gray;
    background-image: url("logos/5stars.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:2%;
    left:50%;
    transform: translateX(-50%);
    border-radius: 50vw;
    

}
.card .bg{
    height:100%;
    width: 100%;
    background-image: url(bg/background.jpeg);
    background-size: 400px;
    background-position:30%;
    border-radius: 30px 30px 12px 12px;
    transition:all 0.2s linear;
       
}
.cardshowcase .card img{
    height:100%;
    width: 100%;
    filter:drop-shadow(6px 6px 4px black);
    transition: all 0.3s;
    object-fit: cover;  
    position: relative;
}

.bg .text{
    text-transform: capitalize;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    z-index: 30;
    bottom:12%;
    left: 50%;
    transform: translateX(-50%);

    padding: 0px 70px 0px 70px;
    
}

.charinfo{
position:absolute;
height: 170vh;
width:100vw;
z-index: 2;
top:25vh;
left:50%;
transform: translateX(-50%);
display:block;
background-color: rgb(25, 25, 25);
display:none;
justify-content: center;
}

.charimgi{
    height:900px;
    width: 40%;
    background-color: rgba(0, 128, 0, 0);
    position: absolute;
    top:20vh;
    right:0;
    z-index: 30;
    
}
.feature{
    height:100px;
    background-color: brown;
}
.charimgi img{
    height:100%;
    width: 100%;
    object-fit: cover;  
    object-position: top;
    filter:drop-shadow(10px 12px 12px rgb(0, 0, 0))
    ;
}

@media only screen and (max-width: 767px) {
    nav {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box; /* Include padding and borders in the width calculation */
    }
    .card{
        height:140px;
        margin:0px 7px 0px 7px;
    }
    .bg .text{
        font-size: 16px;
        -webkit-text-stroke: 1px black;
    }
    .bottom{
        height:15px;
    }
    .element{
        height:50px;
        width: 80%;}
       
}
.celem{
    height:40%;
    aspect-ratio: 10/4;
    background-color: rgb(161, 164, 161);
    border-radius: 7px;
    border: 2px solid white
}
